.welcome{
    padding: 36px;
}
.welcome>img{
    padding: 30px;
    max-width: 100%;
}
.welcome > h1{
    width: 347px;
height: 40px;
top: 360px;
left: 36px;

    color: #000;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 110%;
}

.welcome > p{
    width: 320px;
height: 56px;
top: 416px;
left: 36px;
margin: 0;
    color: #222;
    font-family: 'Poppins';
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: 110%; /* 17.6px */
}